<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionStrings1.Properties.Settings.North1" connectionString="Data Source=KARENS-PC;Initial Catalog=NorthWindAzure;Integrated Security=True" />
        <add name="ConnectionStrings1.Properties.Settings.SomeConnection"
            connectionString="Data Source=KARENS-PC;Initial Catalog=NorthWindAzureForInserts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>